# Python
__pycache__/
*.py[cod]
*.class
*.pyo

# Virtual environment
venv/
venv456/
.env

# IDE
.vscode/
.idea/

# Test outputs
.pytest_cache/
*.html
output.xml
log.html
report.html

# OS
.DS_Store
Thumbs.db
